html {
    padding: 8px 20px;
}

.logo {
    margin: 0px 0px 19px;
    padding: 25px 12px 16px;
}

.nav-text {
    padding-left: 16px;
}

li {
    margin: 4px 0px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

li:hover {
    background-color: #F2F2F2;
    border-radius: 10px;
}

li:hover .nav-icon {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

li span {
    font-size: 16px;
}

.sidemenu_bottom {
    position: fixed;
    bottom: 12px;
}